/* CSS file for the jsDice module with a more Drupal friendly look */

#jsdice-page {
    padding: 1em;
}

#jsdice-page #main h1 {
    padding: .3em 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
    border-bottom: 1px solid #777;
    margin: 0 10px;
    margin-bottom: 24px;
    text-align: center;
}

#jsdice-page #main h1 a {
    color: inherit;
    text-decoration: none;
}

#jsdice-page #main h6 {
    padding: 0;
    margin: 0;
    font-size: .75em;
    padding: .215em 0;
    font-weight: normal;
    border-top: 1px solid #444;
    margin: 0 10px;
    margin-top: 15px;
    text-align: center;
}

#jsdice-page #results {
    margin: 20px 40px 5px 40px;
    padding: 8px;
    height: 20em;
    overflow: auto;
    background-color: #505048;
    color: #ffe;
}

#jsdice-page #results a {
    color: #8cf;
}

#jsdice-page #inp {
    margin: 8px 32px 16px 32px;
    text-indent: 8px;
    text-align: center;
}

#jsdice-page #inp input {
    min-width: 360px;
    height: 16px;
    margin: 0;
    border: 1px solid gray;
    border-right: none;
    padding: 1px 6px;
    vertical-align: top;
    background-color: #f8ffff;
}

#jsdice-page #inp input:focus {
}

#jsdice-page #inp button {
    width: 60px;
    height: 20px;
    margin: 0;
    border: 1px solid gray;
    background-color: #e0e8f0;
}

#jsdice-page #inp button:hover {
    border: 1px solid black;
}

#jsdice-page #pre {
    margin: 8px 32px 8px 32px;
    text-align: center;
}

#jsdice-page #pre button {
    font-size: 1.2em;
    height: 1.5em;
    margin: 0;
    margin-right: 4px;
    border: 1px solid gray;
}

#jsdice-page #pre button:hover {
    border: 1px solid black;
}

#jsdice-page .roll-source {
    margin-top: .3em;
    margin-bottom: 3px;
}

#jsdice-page .roll-source em{
    color: #ff0;
    font-style: normal;
    font-weight: bold;
}

#jsdice-page .roll-source a {
    color: #8ee;
}

#jsdice-page .roll-result {
    margin: 0 1em;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}

#jsdice-page .roll-result  strong{
    font-size: 1.2em;
    color: white;
    background: #111;
    padding: 1px .5em;
    -moz-border-radius: 1em;
}

#jsdice-page .roll-result  sub{
    font-size: .6em;
}

#jsdice-page .roll-help {
    margin: 0 1em;
    padding: 0.3em;
    text-align: justify;
    color: #ffa;
    font-size: .85em;
}

#jsdice-page .roll-help strong {
    color: #ffe;
}

#jsdice-page .roll-help hr {
    border: none;
    border-bottom: 1px solid #777;
}

#jsdice-page .roll-help a {
    color: #8ee;
}

#jsdice-page .roll-help ul {
    padding: 0 1em;
    margin: 0 1em;
}

#jsdice-page .hidden {
    display: none;
}

#jsdice-page noscript  div {
    margin: 20px 40px 5px 40px;
    text-align: justify;
    display: block;
}

#jsdice-page noscript h2 {
    text-align: center;
    font-weight: normal;
}

#jsdice-page #jsdice-contact  {
    margin: 15px 40px 5px 40px;
    text-align: justify;
    font-size: .85em;
}

#jsdice-page #jsdice-contact p {
    margin: 0;
    margin-bottom: 5px;
}

#jsdice-page #jsdice-contact button {
    margin: 0;
    border: 1px solid gray;
    background: #ea3;
    color: #028;
}

#jsdice-page #jsdice-contact button:hover {
    border: 1px solid #a81;
}
